{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center">Top restaurants</h1>
    </div>
    <div class="row justify-content-around">
        {% for restaurant in restaurants | slice(0,8) %}
            {% include 'cards/card_best_note.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
