{% extends 'base.html.twig' %}

{% block title %}Accueil top 8 restaurant{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center mb-5 mt-3">Top restaurants</h1>
    </div>
    <div class="row justify-content-around">
        {% for restaurant in restaurants | slice(0,8) %}
            {% include 'cards/card_best_note.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
